---
layout: markdown_page
title: "Product Section Vision - Ops"
---

- TOC
{:toc}

## Overview

Our vision for Ops is about enabling today's modern best-practices in operations without the burden of
specialized teams, multiple tools and heavy workflows that are the largest barriers to adoption in these stages
of the DevOps lifecycle. Our goal is to empower DevOps teams to own their code in production and have the tools
to contribute not just to application feature development but to the characteristics of their applications as
experienced by their end-users.

## Theme: Infrastructure and Observability as Code

There have been two major trends impacting operations. These two trends are essential to the seeding the DevOps
transformation within teams. They are Infrastructure as Code (IAC) and Observability as Code (OAC).

### Infrastructure as Code

[IAC](https://en.wikipedia.org/wiki/Infrastructure_as_code) provides DevOps teams with a method to maintain consistency with the infrastructure their applications run on.
The best practices defined in IAC prevent configuration drift and allow teams to maintain consistent performance and
security characteristics without the need for ongoing manual intervention. 

IAC was made possible by the availability of rapidly deployed cloud infrastructure (IaaS platforms) and the corresponding
build up of tools to enable generic usage and consistent deployment to that infrastructure (Container Management Platforms).

With our roots as a source code management system, we will build on our existing workflows for code management and
extend our ability to define and manage infrastructure configuration in your project repositories so you can achieve reliability
and consistency in your application.

### Observability and Operations as Code

Observability is a measure of your application which defines how well you can understand the state
of your production system from it's external outputs. The more observable your application is the more reliably you can operate it, both manually and through
automation. Our vision is to allow you to define your observability and operational automation in code, alongside your
application code. Whether that is the configuration of dashboards, metrics, alerts, runbooks, automation scripts or
incident issues - GitLab will source-control those configurations and ensure they are reliably deployed to your production
systems.

## Theme: Smart Feedback Loop

Defining your infrastructure, observability, and operations as code is just the first step. The real magic happens when
you rapidly iterate on those definitions. As a single-application for the entire DevOps lifecycle GitLab completes what
is commonly a major gap in the DevOps loop - the feedback from ops back into planning. 

Our vision is to provide not just an easy ability to identify, suggest, complete, and deploy changes to your production system
but also enable new insights that other tools can't. During incident response, GitLab can quickly identify the last deployed commit,
lines of code changed, and author to guide the response to the right place. During deployment, GitLab can quickly tell you if
your production system is already out-of-bounds from defined service-level indicator (SLI) metrics and roll back. During post-mortems, GitLab can suggest
runbook or alert changes. We are very excited about enabling DevOps teams with these smart additions.

## Theme: Operations for All

Truly integrated DevOps teams are difficult to create. While large organizations have the budget to staff dedicated teams
with roles like "Cost Optimization Engineer" and "Site Reliability Engineer" smaller teams require "Jack of All Trades" engineers.

Our vision at GitLab is that everyone can contribute, and that small teams, without specialization can leverage
and adopt the same tools as those in larger organizations. By building on our preference for convention over configuration we can take
the guess work out of operations and enable you and your team to quickly build a production application and iterate, not just on
it's features, but on the overall experience delivered to your users. Rapidly.

## Theme: No-Ops

While many teams will continue to employ operations best practices, there is a growing movement to use stricter conventions to
reduce the need for operations tasks almost entirely. We'll continue to support this pattern via our investment in Auto DevOps,
Serverless and PaaS iniatives. 

## What's Next for Ops

<%= direction %>
